{{! Partial for a single post }}
<div class="post">
  <div class="post-content">
    <!-- the user's avatar and username -->
    <div class="post-header">
        <div class="post-avatar">
            <img src="{{#if user.avatar_url}}{{user.avatar_url}}{{else}}/avatar/{{username}}{{/if}}" alt="User Avatar" class="header-avatar">
        </div>
        <div class="post-user-info">
            <span class="username">{{username}}</span>
            <span class="timestamp">{{timestamp}}</span>
        </div>
    </div>
    <!-- the post -->
    {{#if image}}
      <img src="{{image}}" alt="Post image" class="post-image">
    {{/if}}
    <div class="post-details">
      <h2>{{title}}</h2>
      <p>{{content}}</p> 
    </div>
    
    <!-- everything that is shown in the status bar -->
    <div class="post-status-bar"> 
      <!-- Number of likes -->
      <span class="likes-count">Likes: {{likes}}</span>
      
       {{#ifCond username user.username}}
          <!---Delete Button-->
            <button class="delete-button" data-id="{{id}}" onclick="handleDeleteClick(event)"><i class="fas fa-trash-alt"></i></button> 
        {{else}}
          <!-- Like Button -->
            <button class="like-button" data-id="{{id}}" onclick="handleLikeClick(event)"><i class="far fa-heart"></i></button>
        {{/ifCond}}

    </div>

  <div>
      {{!-- Render Comments --}}
      {{#if this.comments}}
        <div class="comments-section">
        <h3>Comments</h3>
        {{#each this.comments}}
          <div class="comment">
          <p><strong>{{this.username}}</strong> {{this.content}}</p>
          </div>
        {{/each}}
      {{else}}
        <div class="no-comment">
        <h3>No comments</h3>
        </div>
    {{/if}}
      </div>

      {{!-- Comment form --}}
      {{#if user.username}}
        {{#if username }}
          <div class="comment-form">
            <form action="/comment" method="post">
              <input type="hidden" name="postId" value="{{id}}">
              <textarea name="content" placeholder="{{user.username}} write a comment..." required></textarea>
              <button type="submit">Comment</button>
            </form>
          </div>
        {{else}}
          <div class="cannot-comment">
            <p> cannot comment </p>
          </div>
        {{/if}}
      {{else}}
        <div class="login-prompt">
          <p>Please <a href="/login">log in</a> to comment.</p>
        </div>
      {{/if}}

    </div>
  </div>
</div>

<script>
  function handleLikeClick(event) {

    // you might want to "fetch" something...  
    const likeElement = event.target.closest('.like-button');
    const postId = likeElement.getAttribute('data-id');
    console.log('postId:', postId);
    // Send a post req
    fetch(`/like/${postId}`, {
      method: 'POST',
  })
    // If succesuful return .json
    .then(response => {

      if (!response.ok) {
      throw new Error('Network response was not ok');
    }
      return response.json();
    })
    // If succesfull update likes
    .then(data => {

      const likeSpan = event.target.closest('.post-status-bar').querySelector('.likes-count');
      likeSpan.textContent = `Likes: ${data.likes}`;
    })
    // Handel any errors
    .catch(error => {
      console.error('There was a problem with your fetch operation:', error);
    });
    }
    function handleDeleteClick(event) {

      const buttonElement = event.target.closest('.delete-button');
      const postId = buttonElement.getAttribute('data-id'); 
      console.log(postId)
             

      // you might want to "fetch" something...
      fetch(`/delete/${postId}`, {

        method: 'POST',
        credentials: 'same-origin'

      })
      // If succesuful return .json
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
          return response.json();
      })
        // If succesfull delete
      .then(data => {
        console.log(data.message);
        const postElement = buttonElement.closest('.post');
        console.log("Post Element:", postElement);
        if (postElement) {
            postElement.remove();
          
        } else {
            console.error('Post element not found');
        }
    })
      // Handel any errors
      .catch(error => {
        console.error('There was a problem with your fetch operation:', error);
      });
    }  
</script>
